<html>
   <%= render('head.html.erb') %>
   <body>
     <% if pet.nil? %>
       <form method="post" action="/create_pet">
         <input name="name" type="text">
         <button type="submit" class="btn btn-primary">Пофантазуйте з іменем</button>
       </form>
     <% else %>
       <h1>Малий(а) вже на світі</h1>
       <a href="/game">Почати гру з <%= pet.name %>!</a>
     <% end %>
   </body>
 </html>